@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thêm gói thời gian";
    List<TimePackage> timePackages = (List<TimePackage>)ViewData["TimePackages"];
    string status = (string)ViewData["Status"];
}
<body>
    <div class="row" style="margin-top: 40px; margin-bottom: 10px;">
        <div class="col-10">
            <div class="text-info font-italic" style="font-size:30px; margin-left: 100px;">QUẢN LÝ GÓI THỜI GIAN</div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px; margin-bottom: 10px;">
        <div hidden>
            <input type="text" id="Status" value="@status" />
        </div>
        <div class="col-10"></div>
        <div class="col-2">
            <button class="btn btn-info" data-toggle="modal" data-target="#createTimePackage">Thêm mới </button>
            <div id="createTimePackage" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-info">THÊM MỚI GÓI THỜI GIAN</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form asp-area="Admin" asp-controller="TimePackageAdmin" asp-action="CreateTimePackage" method="post" onsubmit="return ValidationCre()">
                            <div class="modal-body">
                                <label for="NameCre" class="text-info font-italic">Nhập tên<span style="color: red;">*</span></label>
                                <input type="text" class="col-12 rounded border-info text-info" style="height: 40px; margin-bottom: 20px;" id="NameCre" name="Name">
                                <label for="DescriptionCre" class="text-info font-italic">Nhập ghi chú chi tiết<span style="color: red;">*</span></label>
                                <textarea name="Description" id="DescriptionCre" cols="30" rows="6" class="col-12 rounded border-info text-info"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <table class="col-10 col-sm-10 col-md-10 border" style="border: 1px; border-color: black;">
            <tr class="">
                <th style="width : 5%" class="text-center bg-info text-light border">STT</th>
                <th style="width : 20%" class="text-center bg-info text-light border">Tên gói</th>
                <th style="width : 50%" class="text-center bg-info text-light border">Ghi chú chi tiết</th>
                <th style="width : 25%" class="text-center bg-info text-light border"></th>
            </tr>
            @{
                for (int i = 0; i < timePackages.Count; i++)
                {
                    var item = timePackages[i];
                    <tr>
                        <td class="text-center border">@(i + 1)</td>
                        <td class="text-center border">@item.Name</td>
                        <td class="text-center border">@item.Description</td>
                        <td class="text-center border"><button class="btn btn-info" data-toggle="modal" data-target="#updateTimePackage@(item.Id)">Sửa</button> <button class="btn btn-info" data-toggle="modal" data-target="#deleteTimePackage@(item.Id)">Xóa</button> </td>

                        <div id="updateTimePackage@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-info">CẬP NHẬT GÓI THỜI GIAN</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-area="Admin" asp-controller="TimePackageAdmin" asp-action="UpdateTimePackage" method="post" onsubmit="return ValidationUpd()">
                                        <div class="modal-body">
                                            <label for="NameUpd" class="text-info font-italic">Nhập tên<span style="color: red;">*</span></label>
                                            <input type="text" class="col-12 rounded border-info text-info" style="height: 40px; margin-bottom: 20px;" id="NameUpd" name="Name" value="@item.Name">
                                            <input type="text" class="col-12 rounded border-info text-info" style="height: 40px; margin-bottom: 20px;" id="IdUpd" name="Id" value="@item.Id" hidden>
                                            <label for="DescriptionUpd" class="text-info font-italic">Nhập ghi chú chi tiết<span style="color: red;">*</span></label>
                                            <textarea name="Description" id="DescriptionUpd" cols="30" rows="6" class="col-12 rounded border-info text-info">@item.Description</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div id="deleteTimePackage@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-info">BẠN CHẮC CHẮN MUỐN XÓA GÓI THỜI GIAN NÀY?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-area="Admin" asp-controller="TimePackageAdmin" asp-action="DeleteTimePackage" method="post">
                                        <div class="modal-body">
                                            <label for="Name" class="text-info font-italic">Tên gói<span style="color: red;">*</span></label>
                                            <input type="text" class="col-12 rounded border-info text-info" style="height: 40px; margin-bottom: 20px;" id="" name="" value="@item.Name">
                                            <input type="text" class="col-12 rounded border-info text-info" style="height: 40px; margin-bottom: 20px;" id="TimePackageId" name="TimePackageId" value="@item.Id">
                                            <label for="Description" class="text-info font-italic">Ghi chú chi tiết<span style="color: red;">*</span></label>
                                            <textarea name="" id="" cols="30" rows="6" class="col-12 rounded border-info text-info">@item.Description</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                }
            }
        </table>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Status bootstrap*@
    <div class="modal" id="StatusModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="StatusMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        var status = $("#Status").val();
        switch (status) {
            case "CreateSuccess":
                $('#StatusMessage').text("THÊM MỚI GÓI THỜI GIAN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "CreateFaild":
                $('#StatusMessage').text("THÊM MỚI GÓI THỜI GIAN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
            case "UpdateSuccess":
                $('#StatusMessage').text("CẬP NHẬT GÓI THỜI GIAN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "UpdateFaild":
                $('#StatusMessage').text("CẬP NHẬT GÓI THỜI GIAN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
            case "DeleteSuccess":
                $('#StatusMessage').text("XÓA GÓI THỜI GIAN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "DeleteFaild":
                $('#StatusMessage').text("XÓA GÓI THỜI GIAN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
        }
    });
    function ValidationCre() {
        var name = $('#NameCre').val();
        var description = $('#DescriptionCre').val();
        if (!ValidationField(name, "Vui lòng nhập Tên gói")) return false;
        if (!ValidationField(description, "Vui lòng nhập Nội dung gói")) return false;
        return true;
    }
    function ValidationUpd() {
        var name = $('#NameUpd').val();
        var description = $('#DescriptionUpd').val();
        if (!ValidationField(name, "Vui lòng nhập Tên gói")) return false;
        if (!ValidationField(description, "Vui lòng nhập Nội dung gói")) return false;
        return true;
    }
    function ValidationField(value, message) {
        if (value == "") {
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ShowMessage(value) {
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
</script>