@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản lý thông tin";
    User user = (User)ViewData["User"];
}
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <img class="mr-3 rounded order-0 col-4 col-sm-4 col-md-4"
                 src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg">
            <!-- <div class="mr-3 rounded order-0 col-4 col-sm-4 col-md-4">

            </div> -->
            <div class="media-body col-8 col-sm-8 col-md-8" style="margin-top: 40px;">
                <div class="row">
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 border-bottom" style="font-size: 40px;">QUẢN LÝ TÀI KHOẢN ADMIN</div>
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 d-flex align-items-center border-bottom"
                         style="font-size: 20px; margin-bottom: 100px;">
                        VIET TRAVEL
                    </div>
                    <form action="" class="col-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Họ và tên</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Name" disabled>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Ngày sinh</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.DateOfBirth" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Giới tính</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Sex" disabled>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Email</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Email" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Số điện thoại</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.PhoneNumber" disabled>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Địa chỉ</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Address" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-3 col-sm-3 col-md-3"></div>
                            <button type="submit" style="height:60px;"
                                    class="btn-outline-info rounded col-6 col-sm-6 col-md-6 justify-content-center align-items-center">
                                Cập nhật thông tin tài khoản
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>