@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản lý sự kiện Tour";
    List<Event> events = (List<Event>)ViewData["Events"];
    string tourId = (string)ViewData["TourId"];
    string status = (String)ViewData["Status"];
}
<style>
    .modal-dialog{
        max-width: 800px;
    }
</style>
<body>
    <div class="row" style="margin-top: 40px; margin-bottom: 10px;">
        <div class="col-10">
            <div class="text-info font-italic" style="font-size:30px; margin-left: 100px;">QUẢN LÝ SỰ KIỆN</div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px; margin-bottom: 10px;">
        <div hidden>
            <input type="text" id="Status" value="@status" />
        </div>
        <div class="col-10"></div>
        <div class="col-2">
            <button class="btn btn-info" data-toggle="modal" data-target="#createEvent">Thêm mới </button>
            <div id="createEvent" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="padding-left: 20px;">
                        <div class="modal-header">
                            <h4 class="modal-title text-info">THÊM MỚI EVENT</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form asp-area="Admin" asp-controller="EventAdmin" asp-action="CreateEvent" method="post" enctype="multipart/form-data" onsubmit="return ValidationCre()">
                            <div class="modal-body row">
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <label for="TitleCre" class="text-info font-italic">Tiêu đề<span style="color: red;">*</span></label>
                                    <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="TitleCre" name="Title">
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <div class="col-6 col-sm-6 col-md-6 row" style="margin-right: 44px;">
                                        <label for="StartTimeCre" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian bắt đầu<span style="color: red;">*</span></label>
                                        <input type="datetime-local" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="StartTimeCre" name="StartTime">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 row">
                                        <label for="EndTimeCre" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian kết thúc<span style="color: red;">*</span></label>
                                        <input type="datetime-local" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="EndTimeCre" name="EndTime">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <label for="PicturesCre" class="text-info font-italic">Thêm ảnh<span style="color: red;">*</span></label>
                                    <input type="file" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="PicturesCre" name="file">
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <label for="ContentCre" class="text-info font-italic">Nội dung<span style="color: red;">*</span></label>
                                    <textarea name="Content" id="ContentCre" style="width: 100%;" rows="6" class="border-info rounded"></textarea>
                                </div>
                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="TourIdCre" name="TourId" value="@tourId" hidden>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <table class="col-10 col-sm-10 col-md-10 border" style="border: 1px; border-color: black;">
            <tr class="">
                <th style="width : 5%" class="text-center bg-info text-light border">STT</th>
                <th style="width : 20%" class="text-center bg-info text-light border">Thời gian bắt đầu</th>
                <th style="width : 20%" class="text-center bg-info text-light border">Thời gian kết thúc</th>
                <th style="width : 35%" class="text-center bg-info text-light border">Tên Event</th>
                <th style="width : 20%" class="text-center bg-info text-light border"></th>
            </tr>
            @{
                for (int i = 0; i < events.Count; i++)
                {
                    Event item = events[i];
                    <tr>
                        <td class="text-center border">@(i+1)</td>
                        <td class="text-center border">@item.StartTime</td>
                        <td class="text-center border">@item.EndTime </td>
                        <td class="text-center border">@item.Title</td>
                        <td class="text-center border"><button class="btn btn-info" data-toggle="modal" data-target="#readEvent@(item.Id)">Xem</button> <button class="btn btn-info" data-toggle="modal" data-target="#updateEvent@(item.Id)">Sửa</button> <button class="btn btn-info" data-toggle="modal" data-target="#deleteEvent@(item.Id)">Xóa</button> </td>

                        <div id="readEvent@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="padding-left: 20px;">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-info">CHI TIẾT THÔNG TIN </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form>
                                        <div class="modal-body row">
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <label for="TitleDet" class="text-info font-italic">Tiêu đề<span style="color: red;">*</span></label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="TitleDet" name="Title" value="@item.Title" disable>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="margin-right: 44px;">
                                                    <label for="StartTimeDet" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian bắt đầu<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="StartTimeDet" name="StartTime" value="@item.StartTime" disabled>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label for="EndTimeDet" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian kết thúc<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="EndTimeDet" name="EndTime" value="@item.EndTime" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <label for="ContentDet" class="text-info font-italic">Nội dung<span style="color: red;">*</span></label>
                                                <textarea name="Content" id="ContentDet" style="width: 100%;" rows="6" class="border-info rounded" disabled>@item.Content</textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div id="updateEvent@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="padding-left: 20px;">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-info">CẬP NHẬT THÔNG TIN EVENT</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-area="Admin" asp-controller="EventAdmin" asp-action="UpdateEvent" method="post" onsubmit="return ValidationUpd()" enctype="multipart/form-data">
                                        <div class="modal-body row">
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <label for="TitleUpd" class="text-info font-italic">Tiêu đề<span style="color: red;">*</span></label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="TitleUpd" name="Title" value="@item.Title">
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="margin-right: 44px;">
                                                    <label for="StartTimeUpd" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian bắt đầu<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="StartTimeUpd" name="StartTime" value="@item.StartTime">
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label for="EndTimeUpd" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian kết thúc<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="EndTimeUpd" name="EndTime" value="@item.EndTime">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <label for="PicturesUpd" class="text-info font-italic">Thêm ảnh</label>
                                                <input type="file" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="PicturesUpd" name="file">
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <label for="ContentUpd" class="text-info font-italic">Nội dung<span style="color: red;">*</span></label>
                                                <textarea name="Content" id="ContentUpd" style="width: 100%;" rows="6" class="border-info rounded">@item.Content</textarea>
                                            </div>
                                            <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="IdUpd" name="Id" value="@item.Id" hidden>
                                            <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="TourIdUpd" name="TourId" value="@tourId" hidden>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div id="deleteEvent@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="padding-left: 20px;">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-info">BẠN CHẮC CHẮN MUỐN XÓA EVENT NÀY?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-area="Admin" asp-controller="EventAdmin" asp-action="DeleteEvent" method="post">
                                        <div class="modal-body row">
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <label for="TitleDel" class="text-info font-italic">Tiêu đề<span style="color: red;">*</span></label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="TitleDel" name="Title" value="@item.Title" disable>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="margin-right: 44px;">
                                                    <label for="StartTimeDel" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian bắt đầu<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="StartTimeDel" name="StartTime" value="@item.StartTime" disabled>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label for="EndTimeDel" class="col-12 col-sm-12 col-md-12 text-info font-italic">Thời gian kết thúc<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 col-sm-12 col-md-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="EndTimeDel" name="EndTime" value="@item.EndTime" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <label for="ContentDel" class="text-info font-italic">Nội dung<span style="color: red;">*</span></label>
                                                <textarea name="Content" id="ContentDel" style="width: 100%;" rows="6" class="border-info rounded" disabled>@item.Content</textarea>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="Id" name="Id" value="@item.Id" hidden>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="TourId" name="TourId" value="@tourId" hidden>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                }
            }
        </table>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Status bootstrap*@
    <div class="modal" id="StatusModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="StatusMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        var status = $("#Status").val();
        switch (status) {
            case "CreateSuccess":
                $('#StatusMessage').text("THÊM MỚI SỰ KIỆN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "CreateFaild":
                $('#StatusMessage').text("THÊM MỚI SỰ KIỆN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
            case "UpdateSuccess":
                $('#StatusMessage').text("CẬP NHẬT SỰ KIỆN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "UpdateFaild":
                $('#StatusMessage').text("CẬP NHẬT SỰ KIỆN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
            case "DeleteSuccess":
                $('#StatusMessage').text("XÓA SỰ KIỆN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "DeleteFaild":
                $('#StatusMessage').text("XÓA SỰ KIỆN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
        }
    });
    function ValidationCre() {
        var title = $('#TitleCre').val();
        var startTime = $('#StartTimeCre').val();
        var endTime = $('#EndTimeCre').val();
        var pictures = $('#PicturesCre').val();
        var content = $('#ContentCre').val();
        if (!ValidationField(title, "Vui lòng nhập Tiêu đề giới thiệu")) return false;
        if (!ValidationField(startTime, "Vui lòng nhập Thời gian bắt đầu")) return false;
        if (!ValidationField(endTime, "Vui lòng nhập Thời gian kết thúc")) return false;
        if (!ValidationField(pictures, "Vui lòng tải ảnh")) return false;
        if (!ValidationField(content, "Vui lòng nhập Nội dung giới thiệu")) return false;
        return true;
    }
    function ValidationUpd() {
        var title = $('#TitleUpd').val();
        var startTime = $('#StartTimeUpd').val();
        var endTime = $('#EndTimeUpd').val();
        var content = $('#ContentUpd').val();
        if (!ValidationField(title, "Vui lòng nhập Tiêu đề giới thiệu")) return false;
        if (!ValidationField(startTime, "Vui lòng nhập Thời gian bắt đầu")) return false;
        if (!ValidationField(endTime, "Vui lòng nhập Thời gian kết thúc")) return false;
        if (!ValidationField(content, "Vui lòng nhập Nội dung giới thiệu")) return false;
        return true;
    }
    function ValidationField(value, message) {
        if (value == "") {
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ShowMessage(value) {
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
</script>