@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi tiết Tour";
    Tour tour = (Tour)ViewData["Tour"];
    List<Tour> relateTours = (List<Tour>)ViewData["RelateTours"];
    List<TourPackage> tourPackages = (List<TourPackage>)ViewData["TourPackages"];
    List<Hotel> hotels = (List<Hotel>)ViewData["Hotels"];
    List<Restaurant> restaurants = (List<Restaurant>)ViewData["Restaurants"];
    List<TimePackage> timePackages = (List<TimePackage>)ViewData["TimePackages"];
    List<TourGuide> tourGuides = (List<TourGuide>)ViewData["TourGuides"];
    List<Evaluate> evaluates = (List<Evaluate>)ViewData["Evaluates"];
    List<Schedule> schedules = (List<Schedule>)ViewData["Schedules"];
    string usernameAccount = (string)ViewData["UsernameAccount"];
    string status = (string)ViewData["Status"];
    List<Event> events = (List<Event>)ViewData["Events"];
}
<style>
    .modal-dialog {
        max-width: 800px;
    }
    .d-flex-icon {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
    }
</style>
<body>
    <div class="row" style="margin-top: 20px;">
        @*Status*@
        <div hidden>
            <input type="text" id="Status" value="@status" />
        </div>

        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <img class="mr-3 rounded order-0 col-6 col-sm-6 col-md-6" src="~/UploadImage/@(tour.Pictures)" style="width: 100%; height: 700px;">
            <div class="media-body col-6" style="margin-top: 40px;">
                <div class="row">
                    <h1 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">
                        @tour.Name
                    </h1>
                    <h3 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">
                        @tour.TitleIntroduct
                    </h3>
                    <div class="col-10 col-sm-10 col-md-10" style="padding-top: 50px;">
                        <label for="" class="font-italic text-info">Lựa chọn Tour theo gói hoặc đơn lẻ</label>
                        <div class="col-12 col-sm-12 col-md-12">
                            <input type="radio" value="package1" id="package" name="ChoosePackage" checked
                                   onchange="ChangeTourPackageType(this)">
                            <label for="package">Lựa chọn gói Tour</label><br>
                            <input type="radio" value="package2" id="package" name="ChoosePackage"
                                   onchange="ChangeTourPackageType(this)">
                            <label for="package">Lựa chọn đơn lẻ</label>
                        </div>
                    </div>

                    <div id="Package1" class="col-10 col-sm-10 col-md-10" style="margin-top: 30px;">
                        <div class="row">
                            <select name="TourPackageId" id="TourPackageId"
                                    class="col-12 col-sm-12 col-md-12 border rounded border-info"
                                    style="height: 60px;" onchange="ChangeTourPackage()">
                                @{
                                    foreach (TourPackage tourPackage in tourPackages)
                                    {
                                        <option value="@tourPackage.Id">@tourPackage.Name</option>
                                    }

                                }
                            </select>
                            <div class="col-12 col-sm-12 col-md-12 row" style="margin-top: 50px;">
                                <div class="font-italic text-primary col-9 -col-sm-9 col-md-9" id="PriceTourPackage" style="font-size: 30px;"></div>
                                <button type="button" class="btn btn-primary col-3 col-sm-3 col-md-3" onclick="ShowTourPackageDetail()">Xem chi tiết</button>
                            </div>
                        </div>
                        <button type="button" style="height:60px; margin-top: 50px;"
                                class="btn-outline-info rounded col-12 col-sm-12 col-md-12" onclick="confirmBookingTourPackage()">
                            Đặt Tour
                        </button>
                    </div>

                    @*TourPackageDetail*@
                    @{
                        foreach (TourPackage tourPackage in tourPackages)
                        {
                            <input type="text" id="NameTourPackage@(tourPackage.Id)" name="NameTourPackage" value="@tourPackage.Name" hidden>
                            <input type="text" id="StartTimeTourPackage@(tourPackage.Id)" name="StartTimeTourPackage" value="@tourPackage.StartTime" hidden>
                            <input type="text" id="EndTimeTourPackage@(tourPackage.Id)" name="EndTimeTourPackage" value="@tourPackage.EndTime" hidden>
                            <input type="text" id="DescriptionTourPackage@(tourPackage.Id)" name="DescriptionTourPackage" value="@tourPackage.Description" hidden>
                            <input type="text" id="NumberOfAdultTourPackage@(tourPackage.Id)" name="NumberOfAdultTourPackage" value="@tourPackage.NumberOfAdult" hidden>
                            <input type="text" id="NumberOfChildrenTourPackage@(tourPackage.Id)" name="NumberOfChildrenTourPackage" value="@tourPackage.NumberOfChildren" hidden>
                            <input type="text" id="BasePriceTourPackage@(tourPackage.Id)" name="BasePriceTourPackage" value="@tourPackage.BasePrice" hidden>
                            <input type="text" id="DiscountTourPackage@(tourPackage.Id)" name="DiscountTourPackage" value="@tourPackage.Discount" hidden>
                            <input type="text" id="LastPriceTourPackage@(tourPackage.Id)" name="LastPriceTourPackage" value="@tourPackage.LastPrice.ToString("N2")" hidden>
                            <input type="text" id="HotelIdTourPackage@(tourPackage.Id)" name="HotelIdTourPackage" value="@tourPackage.HotelId" hidden>
                            <input type="text" id="TimePackageIdTourPackage@(tourPackage.Id)" name="TimePackageIdTourPackage" value="@tourPackage.TimePackageId" hidden>
                            <input type="text" id="ScheduleTourPackages@(tourPackage.Id)" name="ScheduleTourPackages" value="@tourPackage.ScheduleTourPackages" hidden>

                            //Modal tourPackage Detail
                            <div id="TourPackageDetail@(tourPackage.Id)" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-info">Chi tiết Gói Tour</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Tên gói</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-right: 10px;" value="@tourPackage.Name">
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Tên gói</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-left: 10px;" value="@tourPackage.Name">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Thời gian bắt đầu:</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-right: 10px;" value="@tourPackage.StartTime">
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Thời gian kết thúc</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-left: 10px;" value="@tourPackage.EndTime">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Số lượng người lớn</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-right: 10px;" value="@tourPackage.NumberOfAdult">
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Số lượng trẻ em</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-left: 10px;" value="@tourPackage.NumberOfChildren">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Gía gốc</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-right: 10px;" value="@tourPackage.BasePrice">
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Gía hiện tại</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-left: 10px;" value="@tourPackage.LastPrice">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Khách sạn</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-right: 10px;" value="@tourPackage.HotelId">
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row">
                                                    <label class="col-12 col-sm-12 col-md-12">Hướng dẫn viên</label>
                                                    <input class="col-12 col-sm-12 col-md-12 rounded border-info" type="text" style="height: 60px; margin-left: 10px;" value="@tourPackage.HotelId">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Trở lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                <div id="Package2" class="col-10 col-sm-10 col-md-10" style="margin-top: 30px;" hidden>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6">
                            <label for="NumberOfAdult" class="col-12 col-sm-12 col-md-12 text-info">
                                Số lượng
                                người lớn(>12 tuổi) <span style="color: red;">*</span>
                            </label>
                            <input type="number" id="NumberOfAdult"
                                   class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;" value="2">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6">
                            <label for="NumberOfChildren" class="col-12 col-sm-12 col-md-12 text-info">
                                Số lượng trẻ em(<12 tuổi)<span style="color: red;">*</span>
                            </label>
                            <input type="number" id="NumberOfChildren" class="col-12 col-sm-12 col-md-12 border-info"
                                   style="height: 60px;" value="2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6">
                            <label for="StartTime" class="col-12 col-sm-12 col-md-12 text-info"
                                   style="white-space: nowrap;">
                                Thời gian khởi đầu<span style="color: red;">*</span>
                            </label>
                            <input type="datetime-local" id="StartTime" class="col-12 col-sm-12 col-md-12 border-info"
                                   style="height: 60px;">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6">
                            <label for="TimePackageId" class="col-12 col-sm-12 col-md-12 text-info">
                                Lựa chọn gói thời
                                gian<span style="color: red;">*</span>
                            </label>
                            <select id="TimePackageId"
                                    class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;">
                                @{
                                    foreach (TimePackage timePackage in timePackages)
                                    {
                                        <option value="@timePackage.Id">@timePackage.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6">
                            <label for="HotelId" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn Khách sạn</label>
                            <select name="HotelId" id="HotelId"
                                    class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;">
                                @{
                                    foreach (Hotel hotel in hotels)
                                    {
                                        <option value="@hotel.Id">@hotel.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6">
                            <label for="RestaurantId" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn Nhà hàng</label>
                            <select name="RestaurantId" id="RestaurantId"
                                    class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;">
                                @{
                                    foreach (Restaurant restaurant in restaurants)
                                    {
                                        <option value="@restaurant.Id">@restaurant.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <label for="ScheduleList" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn Lịch trình</label>
                            <select name="ScheduleList" id="ScheduleList"
                                    class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;" multiple>
                                @{
                                    foreach (Schedule schedule in schedules)
                                    {
                                        <option value="@schedule.Id">@schedule.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <button type="button" style="height:60px; margin-top: 50px;"
                            class="btn-outline-info rounded col-12 col-sm-12 col-md-12" onclick="confirmBookingTourSingle()">
                        Đặt Tour
                    </button>
                </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 text-info font-italic text-center"
             style="margin-bottom: 20px; font-size: 40px; margin-top: 40px;">
            ĐIỂM THAM QUAN VÀ SỰ KIỆN
        </div>
        <div class="col-12 col-sm-12 col-md-12 row">
            <div class="col-1 col-sm-1 col-md-1"></div>
            <div class="col-10 col-sm-10 col-md-10 row">
                <div class="col-12 col-sm-12 col-md-12 row">
                    <p class=" col-12 col-sm-12 col-md-12 text-info font-weight-bold text-center" style="font-size: 30px; margin-top: 50px;">NHỮNG ĐIỂM THAM QUAN NỔI BẬT</p>
                    @{
                        foreach (Schedule item in schedules)
                        {
                            <div class="col-6 col-sm-6 col-md-6 row">
                                <p class=" col-12 col-sm-12 col-md-12 text-info font-weight-bold" style="font-size: 25px;">@item.Title</p>
                                @{
                                    if (@item.TicketEnable == 1)
                                    {
                                        <p class="col-12 col-sm-12 col-md-12" style="font-size: 20px;">Gía vé: @item.PriceTicketAdult.ToString("N2") VND/người lớn  - @item.PriceTicketKid.ToString("N2") VND/trẻ em</p>
                                    }
                                    else
                                    {
                                        <p class="col-12 col-sm-12 col-md-12" style="font-size: 20px;">Gía vé: Không mất vé</p>
                                    }
                                }
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <div class="col-12 col-sm-12 col-md-12 text-truncate font-italic text-info" data-toggle="tooltip" title="@item.Content" data-placement="top" style="font-size: 20px;">Chi tiết</div>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <img src="~/UploadImage/@(item.Pictures)" style="height: 400px; width: 100%;">
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="col-12 col-sm-12 col-md-12 row">
                    <p class=" col-12 col-sm-12 col-md-12 text-info font-weight-bold text-center" style="font-size: 30px; margin-top: 50px;">NHỮNG SỰ KIỆN ĐÁNG CHÚ Ý</p>
                    @{
                        foreach (Event item in events)
                        {
                            <div class="col-6 col-sm-6 col-md-6 row">
                                <p class="col-12 col-sm-12 col-md-12 text-info font-weight-bold" style="font-size: 25px;">@item.Title</p>
                                <p class="col-12 col-sm-12 col-md-12" style="font-size: 25px;">@item.StartTime - @item.EndTime</p>
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <div class="col-12 col-sm-12 col-md-12 text-truncate font-italic text-info" data-toggle="tooltip" title="@item.Content" style="font-size: 20px;">chi tiết</div>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <img src="~/UploadImage/@(item.Pictures)" style="height: 400px; width: 100%;">
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 text-info font-italic text-center"
             style="margin-bottom: 20px; font-size: 30px; margin-top: 40px;">
            CÁC TOUR
            DU LỊCH LIÊN QUAN
        </div>
        <div class="card-deck col-12 col-sm-12 col-md-12">
            @{
                foreach (Tour item in relateTours)
                {
                    <div class="card col-3 col-sm-3 col-md-3 text-info">
                        <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                             src="~/UploadImage/@(item.Pictures)" alt="">
                        <div class="card-body">
                            <h5 class="card-title col-12 col-sm-12 col-md-12 text-truncate" data-toggle="tooltip" title="@tour.Name" data-placement="top">@tour.Name</h5>
                            <p class="card-text col-12 col-sm-12 col-md-12 text-truncate" data-toggle="tooltip" title="@tour.ContentIntroduct" data-placement="top">@tour.ContentIntroduct</p>
                            <div class="col-12 col-sm-12 col-md-12 row">
                                <a asp-area="Customer" asp-controller="TourCustomer" asp-action="TourDetail" asp-route-itemId="@tour.Id" class="btn btn-primary col-8 col-sm-8 col-md-8">Xem Tour</a>
                                <div class="col-4 col-sm-4 col-md-4 d-flex-icon">@tour.NumberOfEvaluate<i class="fa fa-comment" style="color: deepskyblue"></i> @tour.MediumStar.ToString("N2")<i class="fa fa-star" style="color: deepskyblue"></i></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="text-center col-12 col-sm-12 col-md-12 text-info font-italic font-weight-bold"
             style="font-size: 20px; margin-bottom: 20px;">
            CÁC BÌNH LUẬN NỔI BẬT
        </div>
        <ul class="list-unstyled col-12 col-sm-12 col-md-12">
            @{
                foreach (Evaluate item in evaluates)
                {
                    <li class="media" style="margin-left: 40px; margin-bottom: 20px; width: 90%;">
                        <img class="mx-3 rounded order-0" src="~/UploadImage/@(item.User.Picture)" alt=""
                             style="width: 100px; height: 100px;">
                        <div class="media-body">
                            <h5 class="mt-0 text-info">@item.User.Name</h5>
                            <p>
                                @item.Content
                            </p>
                        </div>
                    </li>
                }
            }
        </ul>
        <button class="btn btn-info" style="margin-left: 50px; width: 90%; margin-top: 10px; width: 100px;" data-toggle="modal" data-target="#commentForm">Bình luận</button>
        <button class="btn btn-info" style="margin-left: 50px; width: 90%; margin-top: 10px; width: 100px;" data-toggle="modal" data-target="#evaluateStarForm">Đánh giá</button>

        <div id="commentForm" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-area="Customer" asp-controller="EvaluateCustomer" asp-action="SaveEvaluate" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h4 class="modal-title">Để lại bình luận tại đây</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="Eva" id="Eva" value="2" hidden />
                            <input type="text" name="EvaId" id="EvaId" value="@tour.Id" hidden />
                            <input type="text" name="controllerName" id="controllerName" value="TourCustomer" hidden />
                            <input type="text" name="actionName" id="actionName" value="SearchTourDetail" hidden />
                            <input type="text" name="UsernameAccount" id="UsernameAccount" value="@usernameAccount" hidden />
                            <textarea class="form-control border-info" id="Content" name="Content" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                            <button type="submit" class="btn btn-primary">Bình luận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="evaluateStarForm" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-area="Customer" asp-controller="EvaluateCustomer" asp-action="SaveEvaluateStar" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h4 class="modal-title">Để lại đánh giá tại đây</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="Eva" id="Eva" value="2" hidden />
                            <input type="text" name="EvaId" id="EvaId" value="@tour.Id" hidden />
                            <input type="text" name="controllerName" id="controllerName" value="CityCustomer" hidden />
                            <input type="text" name="actionName" id="actionName" value="CityDetail" hidden />
                            <input type="text" name="UsernameAccount" id="UsernameAccount" value="@usernameAccount" hidden />
                            <input type="radio" name="NumberStar" value="1" id="star1" />
                            <label for="star1">1</label><i class="fa fa-star" style="color: yellow"></i><br>
                            <input type="radio" name="NumberStar" value="2" id="star2" />
                            <label for="star2">2</label><i class="fa fa-star" style="color: yellow"></i><br>
                            <input type="radio" name="NumberStar" value="3" id="star3" />
                            <label for="star3">3</label><i class="fa fa-star" style="color: yellow"></i><br>
                            <input type="radio" name="NumberStar" value="4" id="star4" />
                            <label for="star4">4</label><i class="fa fa-star" style="color: yellow"></i><br>
                            <input type="radio" name="NumberStar" value="5" id="star5" />
                            <label for="star5">5</label><i class="fa fa-star" style="color: yellow"></i><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                            <button type="submit" class="btn btn-primary">Đánh giá</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Modal confirm Booking Tour Package*@
    <div id="confirmBookingPackage" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-area="Customer" asp-controller="TicketCustomer" asp-action="SaveTicketPackage" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title text-info">Xác nhận đặt Tour</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>BẠN CHẮC CHẮN ĐẶT TOUR NÀY</div>
                        <input type="text" id="TourPackageIdConfirmBooking" name="TourPackageId" value="" hidden />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*Modal confirm Booking Tour Single*@
    <div id="confirmBookingSingle" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-area="Customer" asp-controller="TicketCustomer" asp-action="SaveTicketSingle" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title text-info">Xác nhận đặt Tour</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" hidden>
                            <div class="col-6 col-sm-6 col-md-6">
                                <input type="text" id="TourIdSingle" name="TourId" class="col-12 col-sm-12 col-md-12 border-info"
                                       style="height: 60px;" value="@tour.Id" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="NumberOfAdultSingle" class="col-12 col-sm-12 col-md-12 text-info">
                                    Số lượng
                                    người lớn(>12 tuổi) <span style="color: red;">*</span>
                                </label>
                                <input type="number" id="NumberOfAdultSingle" name="NumberOfAdult"
                                       class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;" value="" readonly>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="NumberOfChildrenSingle" class="col-12 col-sm-12 col-md-12 text-info">
                                    Số lượng trẻ em(<12 tuổi)<span style="color: red;">*</span>
                                </label>
                                <input type="number" id="NumberOfChildrenSingle" name="NumberOfChildren" class="col-12 col-sm-12 col-md-12 border-info"
                                       style="height: 60px;" value="" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="StartTimeSingle" class="col-12 col-sm-12 col-md-12 text-info"
                                       style="white-space: nowrap;">
                                    Thời gian khởi hành<span style="color: red;">*</span>
                                </label>
                                <input type="text" id="StartTimeSingle" name="StartTime" class="col-12 col-sm-12 col-md-12 border-info"
                                       style="height: 60px;" readonly>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="TimePackageIdSingle" class="col-12 col-sm-12 col-md-12 text-info">
                                    Lựa chọn gói thời
                                    gian<span style="color: red;">*</span>
                                </label>
                                <input type="text" id="TimePackageIdSingle" name="TimePackageId" class="col-12 col-sm-12 col-md-12 border-info"
                                       style="height: 60px;" value="" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="HotelIdSingle" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn Khách sạn</label>
                                <input type="text" id="HotelIdSingle" name="HotelId" class="col-12 col-sm-12 col-md-12 border-info"
                                       style="height: 60px;" value="" readonly>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="RestaurantIdSingle" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn Nhà hàng</label>
                                <input type="text" id="RestaurantIdSingle" name="RestaurantId" class="col-12 col-sm-12 col-md-12 border-info"
                                       style="height: 60px;" value="" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="ScheduleListSingle" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn Lịch trình</label>
                                <input type="text" id="ScheduleListSingle" name="ScheduleList" class="col-12 col-sm-12 col-md-12 border-info"
                                       style="height: 60px;" value="" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*Modal Status*@
    @*Modal bootstrap*@
    <div class="modal" id="Status">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="StatusMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    debugger
    $(document).ready(function () {
        ChangeTourPackage();
        $('#ScheduleList').selectpicker({
            liveSearch: true,
            size: 5,
            actionsBox: true,
        });
        $('#RestaurantId').selectpicker({
            liveSearch: true,
            size: 5,
            actionsBox: true,
        });
        $('#HotelId').selectpicker({
            liveSearch: true,
            size: 5,
            actionsBox: true,
        });
        var status = $("#Status").val();
        if (status == 1) {
            $('#StatusMessage').text("ĐẶT TOUR THÀNH CÔNG")
            $('#Status').modal('show');
        } else if (messageValue == 2) {
            $('#StatusMessage').text("ĐẶT TOUR THẤT BẠI")
            $('#Status').modal('show');
        }
    });
    function ChangeTourPackageType(radio) {
        if (radio.value == "package1") {
            $("#Package1").removeAttr("hidden");
            $("#Package2").attr("hidden", true);
        }
        else {
            $("#Package1").attr("hidden", true);
            $("#Package2").removeAttr("hidden");
        }
    }
    function ChangeTourPackage() {
        var tourPackageId = $('#TourPackageId').val();
        var priceTourPackage = $(`#LastPriceTourPackage${tourPackageId}`).val();
        if (priceTourPackage === undefined) {
            $('#PriceTourPackage').text("Chưa có tour được chọn");
        }
        else {
            $('#PriceTourPackage').text("GIÁ TOUR: " + priceTourPackage + " VND");
        }
    }
    function ShowTourPackageDetail() {
        var tourPackageId = $('#TourPackageId').val();
        //var nameTourPackage = $(`#NameTourPackage${tourPackageId}`).val();
        //var startTimeTourPackage = $(`#StartTimeTourPackage${tourPackageId}`).val();
        //var endTimeTourPackage = $(`#EndTimeTourPackage${tourPackageId}`).val();
        //var descriptionTourPackage = $(`#DescriptionTourPackage${tourPackageId}`).val();
        //var numberOfAdultTourPackage = $(`#NumberOfAdultTourPackage${tourPackageId}`).val();
        //var numberOfChildrenTourPackage = $(`#NumberOfChildrenTourPackage${tourPackageId}`).val();
        //var basePriceTourPackage = $(`#BasePriceTourPackage${tourPackageId}`).val();
        //var discountTourPackage = $(`#DiscountTourPackage${tourPackageId}`).val();
        //var lastPriceTourPackage = $(`#LastPriceTourPackage${tourPackageId}`).val();
        //var hotelIdTourPackage = $(`#HotelIdTourPackage${tourPackageId}`).val();
        //var timePackageIdTourPackage = $(`#TimePackageIdTourPackage${tourPackageId}`).val();
        //var scheduleTourPackages = $(`#ScheduleTourPackages${tourPackageId}`).val();
        $(`#TourPackageDetail${tourPackageId}`).modal('show');
    }
    function confirmBookingTourPackage(){
        var tourPackageId = $('#TourPackageId').val();
        $('#TourPackageIdConfirmBooking').val(tourPackageId);
        $('#confirmBookingPackage').modal('show');
    }
    function confirmBookingTourSingle() {
        var NumberOfAdultSingle = $('#NumberOfAdult').val();
        var NumberOfChildrenSingle = $('#NumberOfChildren').val();
        var StartTimeSingle = $('#StartTime').val();
        var TimePackageIdSingle = $('#TimePackageId').val();
        var HotelIdSingle = $('#HotelId').val();
        var RestaurantIdSingle = $('#RestaurantId').val();
        var ScheduleListSingle = $('#ScheduleList').val();
        if (!ValidationField(NumberOfAdultSingle, "Vui lòng nhập Số lượng người lớn")) return false;
        if (!ValidationField(NumberOfChildrenSingle, "Vui lòng nhập Số lượng trẻ em")) return false;
        if (!ValidationFieldNumber(NumberOfAdultSingle, "Vui lòng nhập Số lượng người lớn (>0)", 1)) return false;
        if (!ValidationFieldNumber(NumberOfChildrenSingle, "Vui lòng nhập Số lượng trẻ em(>=0)", 0)) return false;
        if (!ValidationField(StartTimeSingle, "Vui lòng nhập Ngày khởi hành")) return false;
        if (!ValidationField(TimePackageIdSingle, "Vui lòng chọn Gói thời gian")) return false;
        if (!ValidationField(HotelIdSingle, "Vui lòng chọn Khách sạn")) return false;
        if (!ValidationField(RestaurantIdSingle, "Vui lòng chọn Nhà hàng")) return false;
        if (!ValidationField(ScheduleListSingle, "Vui lòng chọn Lịch trình")) return false;
        $('#NumberOfAdultSingle').val(NumberOfAdultSingle);
        $('#NumberOfChildrenSingle').val(NumberOfChildrenSingle);
        $('#StartTimeSingle').val(StartTimeSingle);
        $('#TimePackageIdSingle').val(TimePackageIdSingle);
        $('#HotelIdSingle').val(HotelIdSingle);
        $('#RestaurantIdSingle').val(RestaurantIdSingle);
        $('#ScheduleListSingle').val(ScheduleListSingle);
        $('#confirmBookingSingle').modal('show');
    }
    function ValidationField(value, message) {
        if (value == "") {
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ValidationFieldNumber(value, message, number) {
        if (value < number) {
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ShowMessage(value) {
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
</script>
