@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản lý thông tin Admin";
    User user = (User)ViewData["User"];
    string status = (string)ViewData["Status"];
}
<style>
    .modal-dialog {
        max-width: 800px;
    }

    .d-flex-icon {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
    }
    .user-avatar {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .user-avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <div class=" col-4 col-sm-4 col-md-4" style="width: 100%; height: 500px;">
                <div class="col-12 col-sm-12 col-md-12 user-avatar row">
                    <img class="rounded order-0 col-12 col-sm-12 col-md-12 user-avatar"
                         src="~/UploadImage/@(user.Picture)">
                </div>
                <div class="col-12 col-sm-12 col-md-12 row">
                    <div class="col-3 col-sm-3 col-md-3"></div>
                    <button class="col-6 col-sm-6 col-md-6 btn btn-info" style="margin-top: 10px;" data-toggle="modal" data-target="#updatePictureUser">Thay đổi ảnh đại diện</button>
                </div>
            </div>
            <!-- <div class="mr-3 rounded order-0 col-4 col-sm-4 col-md-4">

            </div> -->
            <div class="media-body col-8 col-sm-8 col-md-8" style="margin-top: 40px;">
                <div class="row">
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 border-bottom" style="font-size: 40px;">QUẢN LÝ TÀI KHOẢN ADMIN</div>
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 d-flex align-items-center border-bottom"
                         style="font-size: 20px; margin-bottom: 100px;">
                        LALOLI TRAVEL
                    </div>
                    <form action="" class="col-12 col-sm-12 col-md-12">
                        <div class="row" hidden>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Status</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@status" id="Status" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Họ và tên</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Name" disabled>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Ngày sinh</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.DateOfBirth" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Giới tính</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Sex" disabled>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Email</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Email" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Số điện thoại</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.PhoneNumber" disabled>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Địa chỉ</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Address" disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-6 col-sm-6 col-md-6">
                                <button type="button" style="height:60px;"
                                        class="btn-info rounded col-12 col-sm-12 col-md-12 justify-content-center align-items-center" data-toggle="modal" data-target="#updatePassword">
                                    Cập nhật mật khẩu
                                </button>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <button type="button" style="height:60px;"
                                        class="btn-info rounded col-12 col-sm-12 col-md-12 justify-content-center align-items-center" data-toggle="modal" data-target="#updateInfo">
                                    Cập nhật thông tin
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="updatePictureUser" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-area="Customer" asp-controller="HomeCustomer" asp-action="UpdatePictureUser" method="post" enctype="multipart/form-data" onsubmit="return ValidateUpdatePictureUser()">
                    <div class="modal-header">
                        <h4 class="modal-title">CẬP NHẬT ẢNH ĐẠI DIỆN</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="" class="font-italic text-info col-12">Chọn ảnh đại diện mới</label>
                                <input type="file" class="rounded border-info text-info col-12" style="height:60px;" id="File" name="file">
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Id" id="Id" name="Id" hidden>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Name" name="Name" hidden>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.DateOfBirth" name="DateOfBirth" hidden>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Sex" name="Sex" hidden>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Email" name="Email" hidden>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.PhoneNumber" name="PhoneNumber" hidden>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Address" name="Address" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="updatePassword" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-area="Admin" asp-controller="HomeAdmin" asp-action="UpdatePassword" method="post" enctype="multipart/form-data" onsubmit="return ValidateUpdatePassword()">
                    <div class="modal-header">
                        <h4 class="modal-title">CẬP NHẬT MẬT KHẨU</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="" class="font-italic text-info col-12">Mật khẩu cũ</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" id="oldPassword" name="oldPassword">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="" class="font-italic text-info col-12">Mật khẩu mới</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" id="newPassword" name="newPassword">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="" class="font-italic text-info col-12">Xác nhận mật khẩu mới</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" id="confirmNewPassword" name="confirmNewPassword">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="updateInfo" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-area="Admin" asp-controller="HomeAdmin" asp-action="UpdateInfo" method="post" enctype="multipart/form-data" onsubmit="return ValidateUpdateInfo()">
                    <div class="modal-header">
                        <h4 class="modal-title">CẬP NHẬT THÔNG TIN TÀI KHOẢN</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" hidden>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Họ và tên</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Id" id="Id" name="Id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Họ và tên</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Name" id="Name" name="Name">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Ngày sinh</label>
                                <input type="datetime" class="rounded border-info text-info col-12" style="height:60px;" value="@user.DateOfBirth" id="DateOfBirth" name="DateOfBirth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Giới tính</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Sex" id="Sex" name="Sex">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Email</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Email" id="Email" name="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Số điện thoại</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.PhoneNumber" id="PhoneNumber" name="PhoneNumber">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Địa chỉ</label>
                                <input type="text" class="rounded border-info text-info col-12" style="height:60px;" value="@user.Address" id="Address" name="Address">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Status bootstrap*@
    <div class="modal" id="StatusModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="StatusMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $(document).ready(function () {
        var status = $("#Status").val();
        switch (status) {
            case "UpdatePasswordSuccess":
                $('#StatusMessage').text("CẬP NHÂT MẬT KHẨU THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "UpdatePasswordFaild":
                $('#StatusMessage').text("CẬP NHÂT MẬT KHẨU THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
            case "UpdateInfoSuccess":
                $('#StatusMessage').text("CẬP NHẬT THÔNG TIN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "UpdateInfoFaild":
                $('#StatusMessage').text("CẬP NHẬT THÔNG TIN THẤT THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
        }
    });
    function ValidateUpdateInfo() {
        var name = $('#Name').val();
        var dateOfBirth = $('#DateOfBirth').val();
        var sex = $('#Sex').val();
        var email = $('#Email').val();
        var phoneNumber = $('#PhoneNumber').val();
        var address = $('#Address').val();
        if (!ValidationField(name, "Vui lòng nhập Tên")) return false;
        if (!ValidationField(dateOfBirth, "Vui lòng nhập Ngày sinh")) return false;
        if (!ValidationField(sex, "Vui lòng nhập chọn Giới tính")) return false;
        if (!ValidationField(email, "Vui lòng nhập Email")) return false;
        if (!ValidationField(phoneNumber, "Vui lòng nhập Số điện thoại")) return false;
        if (!ValidationField(address, "Vui lòng nhập Địa chỉ")) return false;
        return true;
    }
    function ValidateUpdatePassword() {
        var oldPassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();
        var confirmNewPassword = $('#confirmNewPassword').val();
        if (!ValidationField(oldPassword, "Vui lòng nhập Mật khẩu cũ")) return false;
        if (!ValidationField(newPassword, "Vui lòng nhập Mật khẩu mới")) return false;
        if (!ValidationField(confirmNewPassword, "Vui lòng nhập Mật khẩu xác nhận")) return false;
        if (newPassword != confirmNewPassword) {
            ShowMessage("Mật khẩu mới và mật khẩu xác nhận không trùng khớp")
            return false;
        }
        if (!ValidatePassword(newPassword)) return false;
        return true;
    }
    function ValidateUpdatePictureUser() {
        var file = $("#File").val();
        if (!ValidationField(file, "Vui lòng chọn ảnh đại diện mới")) return false;
        return true;
    }

    function ValidatePassword(value) {
        const pattern = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,}$/;
        if (!pattern.test(value)) {
            ShowMessage("Vui lòng nhập mật khẩu ít nhất 8 kí tự, có chữ hoa, chữ thường và kí tự đặc biệt");
            return false;
        }
        if (value == "") {
            ShowMessage("Vui lòng nhập mật khẩu ít nhất 8 kí tự, có chữ hoa, chữ thường và kí tự đặc biệt");
            return false;
        }
        return true;
    }

    function ValidationField(value, message) {
        if (value == "") {
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ShowMessage(value) {
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
</script>