@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản lý chuyển đổi trạng thái đặt Tour người dùng";
    List<Ticket> tickets = (List<Ticket>)ViewData["Tickets"];
    string status = (string)ViewData["Status"];
}
<style>
    .modal-dialog {
        max-width: 800px;
    }
</style>
<body>
    <div class="row" style="margin-top: 40px; margin-bottom: 10px;">
        <div class="col-10">
            <div class="text-info font-italic" style="font-size:30px; margin-left: 100px;">DANH SÁCH TOUR ĐƯỢC ĐẶT</div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px; margin-bottom: 10px;">
        <form asp-area="Admin" asp-controller="TicketAdmin" asp-action="SearchTicketCustomer" class="col-12 col-sm-12 col-md-12 row" method="post" enctype="multipart/form-data">
            <div class="col-1 col-sm-1 col-md-1"></div>
            <div class="col-3 col-sm-3 col-md-3">
                <input class="col-10 col-sm-10 col-md-10 rounded border-info text-center" style="height: 50px;" placeholder="Nhập tên khách hàng" id="CusName" name="CusName"/>
            </div>
            <div class="col-3 col-sm-3 col-md-3">
                <input class="col-10 col-sm-10 col-md-10 rounded border-info text-center" style="height: 50px;" placeholder="Nhập email khách hàng" id="CusEmail" name="CusEmail"/>
            </div>
            <div class="col-3 col-sm-3 col-md-3">
                <input class="col-10 col-sm-10 col-md-10 rounded border-info text-center" style="height: 50px;" placeholder="Nhập tour"  id="TourName" name="TourName"/>
            </div>
            <button type="submit" class="btn-info rounded border-info" style="height: 50px; width: 150px; ">Tìm kiếm</button>
        </form>
    </div>
    <div class="row">
        @*Status*@
        <div hidden>
            <input type="text" id="Status" value="@status" />
        </div>

        <div class="col-1"></div>
        <table class="col-10 col-sm-10 col-md-10 border" style="border: 1px; border-color: black;">
            <tr class="">
                <th style="width : 5%" class="text-center bg-info text-light border">STT</th>
                <th style="width : 14%" class="text-center bg-info text-light border">Tên User đặt Tour</th>
                <th style="width : 14%" class="text-center bg-info text-light border">Email đặt Tour</th>
                <th style="width : 18%" class="text-center bg-info text-light border">Ngày đặt Tour</th>
                <th style="width : 14%" class="text-center bg-info text-light border">Giá Tour</th>
                <th style="width : 15%" class="text-center bg-info text-light border">Trạng thái</th>
                <th style="width : 20%" class="text-center bg-info text-light border"></th>
            </tr>
            @{
                for (int i = 0; i < tickets.Count; i++)
                {
                    Ticket item = tickets[i];
                        <tr>
                            <td class="text-center border">@(i + 1)</td>
                            <td class="text-center border">@item.UserTicket.Name</td>
                            <td class="text-center border">@item.UserTicket.Email</td>
                            <td class="text-center border">@item.BookingDate</td>
                            <td class="text-center border">@item.TourPackage.LastPrice.ToString("N2")</td>
                            @{
                                switch (item.Status)
                                {
                                    case 1:
                                        <td class="text-center border">Chưa thanh toán</td>
                                        break;
                                    case 2:
                                        <td class="text-center border">Đã thanh toán - chưa hoàn thành Tour</td>
                                        break;
                                    case 3:
                                        <td class="text-center border">Đã thanh toán - Hoàn thành Tour</td>
                                        break;
                                    case 4:
                                        <td class="text-center border">Chưa thanh toán - Đã quá hạn</td>
                                        break;
                                    default:
                                        <td class="text-center border">Macdinh</td>
                                        break;
                                }
                            }
                            <td class="text-center border"><button class="btn btn-info" data-toggle="modal" data-target="#TicketDetail@(item.Id)">Xem</button><button class="btn btn-info" style="margin-left: 5px;" data-toggle="modal" data-target="#ChangeStatus@(item.Id)">Chuyển trạng thái</button></td>
                        </tr>

                    <div id="TicketDetail@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="padding-left: 40px;">
                                <div class="modal-header">
                                    <h4 class="modal-title text-info">CHI TIẾT THÔNG TIN TOUR</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body row">
                                        <div class="col-12 col-sm-12 col-md-12 row">
                                            <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                <label for="NumberOfAdult" class="text-info font-italic">Số lượng người lớn</label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="NumberOfAdult" name="NumberOfAdult" value="@item.TourPackage.NumberOfAdult" disabled>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                <label for="NumberOfChildren" class="text-info font-italic">Số lượng trẻ em</label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="NumberOfChildren" name="NumberOfChildren" value="@item.TourPackage.NumberOfChildren" disabled>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 row">
                                            <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                <label for="StartTime" class="text-info font-italic">Thời gian khởi hành</label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="StartTime" name="StartTime" value="@item.TourPackage.StartTime" disabled>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                <label for="EndTime" class="text-info font-italic">Thời gian kết thúc</label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="EndTime" name="EndTime" value="@item.TourPackage.EndTime" disabled>
                                            </div>
                                        </div>
                                        @*<div class="col-12 col-sm-12 col-md-12 row">
                                            <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                <label for="Hotel" class="text-info font-italic">Khách sạn</label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="Hotel" name="Hotel" value="@item.TourPackage.Hotel.Name" disabled>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                <label for="Restaurant" class="text-info font-italic">Nhà hàng</label>
                                                <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="Restaurant" name="Restaurant" value="@item.TourPackage.Restaurant.Name" disabled>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Thoát</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="ChangeStatus@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="padding-left: 40px;">
                                <div class="modal-header">
                                    <h4 class="modal-title text-info">THÔNG BÁO</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form asp-area="Admin" asp-controller="TicketAdmin" asp-action="ChangeTicketStatus" method="post">
                                    <div class="modal-body row">
                                        <div class="col-12 col-sm-12 col-md-12 row" hidden>
                                            <input type="text" class="col-12 rounded border-info" style="height: 60px; margin-bottom: 20px;" id="ticketId" name="ticketId" value="@item.Id">
                                        </div>
                                        BẠN CHẮC CHẮN MUỐN CHUYỂN TRẠNG THÁI CHO TOUR NÀY?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Hủy bỏ</button>
                                        @{
                                            if (item.Status != 1)
                                            {
                                                <button type="submit" class="btn btn-primary" disabled>Đồng ý</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-primary">Đồng ý</button>
                                            }
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </table>
    </div>



    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="StatusModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="titleColor" class="modal-title">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="StatusMessage"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnColor" type="button" class="btn" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () { 
                                    var status = $("#Status").val();
                                    if (status == 1) {
                                        $('#StatusMessage').text("ĐẶT TOUR THÀNH CÔNG")
                                        $('#titleColor').addClass('text-success');
                                        $('#btnColor').addClass('btn-success');
                                        $('#StatusModal').modal('show');
                                    } else if (messageValue == 2) {
                                        $('#StatusMessage').text("ĐẶT TOUR THẤT BẠI")
                                        $('#titleColor').addClass('text-danger');
                                        $('#btnColor').addClass('btn-danger');
                                        $('#StatusModal').modal('show');
                                    }
                                });
</script>