@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi tiết Tour";
    Tour tour = (Tour)ViewData["Tour"];
    List<TourPackage> tourPackages = (List<TourPackage>)ViewData["TourPackages"];
    List<Hotel> hotels = (List<Hotel>)ViewData["Hotels"];
    List<TimePackage> timePackages = (List<TimePackage>)ViewData["TimePackages"];
    List<TourGuide> tourGuides = (List<TourGuide>)ViewData["TourGuides"];
    List<Evaluate> evaluates = (List<Evaluate>)ViewData["Evaluates"];
}
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <img class="mr-3 rounded order-0 col-6 col-sm-6 col-md-6" src="~/UploadImage/@(tour.Pictures)" style="width: 100%; height: 600px;">
            <div class="media-body col-6" style="margin-top: 40px;">
                <div class="row">
                    <h1 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">
                        @tour.Name</h5>
                        <h3 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">
                            @tour.TitleIntroduct
                        </h3>
                        <!-- <h4 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">Giới thiệu về du lịch Nha
                            Trang - thành phố biển
                            miền Trung
                            không chỉ đi vào thơ,
                            hoạ mà còn “được lòng” du khách với những gì đẹp nhất của một vùng duyên hải.
                            Nha Trang, hòn ngọc quý của tỉnh Khánh Hòa luôn là một điểm sáng trên bản đồ du lịch Việt,
                            thu
                            hút đông đảo du khách trong nước và quốc tế.</h4> -->
                        <div class="col-10 col-sm-10 col-md-10" style="padding-top: 50px;">
                            <label for="" class="font-italic text-info">Lựa chọn Tour theo gói hoặc đơn lẻ</label>
                            <div class="col-12 col-sm-12 col-md-12">
                                <input type="radio" value="package1" id="package" name="ChoosePackage" checked
                                       onchange="ChangeTourPackage(this)">
                                <label for="package">Lựa chọn gói Tour</label><br>
                                <input type="radio" value="package2" id="package" name="ChoosePackage"
                                       onchange="ChangeTourPackage(this)">
                                <label for="package">Lựa chọn đơn lẻ</label>
                            </div>
                        </div>

                        <div id="Package1" class="col-10 col-sm-10 col-md-10" style="margin-top: 30px;">
                            <form action="">
                                <div class="row">
                                    <select name="TourPackageId" id="TourPackageId"
                                            class="col-12 col-sm-12 col-md-12 border rounded border-info"
                                            style="height: 60px;">
                                        @{
                                            foreach(TourPackage tourPackage in tourPackages)
                                            {
                                                <option value="@tourPackage.Id">@tourPackage.Name</option>
                                            }
                                        }
                                    </select>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div style="margin-top: 30px;">
                                                <span for="">Tên gói: Gói mặc định</span><br>
                                                <span for="">Số lượng người: 2</span><br>
                                                <span for="">Số lượng người lớn(lớn hơn 12 tuổi): 2</span><br>
                                                <span for="">Số lượng trẻ em(nhỏ hơn 12 tuổi): 0</span><br>
                                                <span for="">Thời gian: 3 ngày 2 đêm</span><br>
                                                <span for="">Thời gian bắt đầu: 0</span><br>
                                                <span for="">Thời gian kết thúc: 0</span><br>
                                                <span for="">Gía gốc: 12.000.000 VNĐ</span><br>
                                                <span for="">Giamr giá: 10%</span><br>
                                                <span for="">Gía cuối: 10.8000.000 VNĐ</span><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" style="height:60px; margin-top: 50px;"
                                        class="btn-outline-info rounded col-12 col-sm-12 col-md-12" data-toggle="modal"
                                        data-target="#confirmBooking">
                                    Đặt Tour
                                </button>
                                <div id="confirmBooking" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title text-info">Xác nhận đặt Tour</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="confirmDate" class="text-info font-italic">
                                                    Thời
                                                    gian:
                                                </label>
                                                <input type="text" class="col-12 rounded border-info text-info"
                                                       style="height: 40px; margin-bottom: 20px;" id="confirmDate"
                                                       value="2023/12/12" disabled>
                                                <label for="confirmMemberPackage" class="text-info font-italic">
                                                    Gói
                                                    thành viên:
                                                </label>
                                                <input type="text" class="col-12 rounded border-info text-info"
                                                       style="height: 40px; margin-bottom: 20px;" id="confirmMemberPackage"
                                                       value="Gói Cặp đôi" disabled>
                                                <label for="confirmHotel" class="text-info font-italic">
                                                    Khách
                                                    sạn:
                                                </label>
                                                <input type="text" class="col-12 rounded border-info text-info"
                                                       style="height: 40px; margin-bottom: 20px;" id="confirmHotel"
                                                       value="Khách sạn Hải Long" disabled>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Hủy
                                                    bỏ
                                                </button>
                                                <button type="button" class="btn btn-primary" onclick="Save()">
                                                    Xác
                                                    nhận
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="Package2" class="col-10 col-sm-10 col-md-10" style="margin-top: 30px;" hidden>
                            <form action="">
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <label for="NumberOfAdult" class="col-12 col-sm-12 col-md-12 text-info">
                                            Số lượng
                                            người lớn(>12 tuổi) <span style="color: red;">*</span>
                                        </label>
                                        <input type="number" id="NumberOfAdult"
                                               class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;" value="2">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <label for="" class="col-12 col-sm-12 col-md-12 text-info">
                                            Số lượng trẻ em(<12 tuổi)<span style="color: red;">*</span>
                                        </label>
                                        <input type="number" class="col-12 col-sm-12 col-md-12 border-info"
                                               style="height: 60px;" value="2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <label for="" class="col-12 col-sm-12 col-md-12 text-info"
                                               style="white-space: nowrap;">
                                            Thời gian khởi đầu<span style="color: red;">*</span>
                                        </label>
                                        <input type="datetime-local" id="" class="col-12 col-sm-12 col-md-12 border-info"
                                               style="height: 60px;">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <label for="" class="col-12 col-sm-12 col-md-12 text-info">
                                            Lựa chọn gói thời
                                            gian<span style="color: red;">*</span>
                                        </label>
                                        <select name="TimePackageId" id="TimePackageId"
                                                class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;">
                                            @{
                                                foreach(TimePackage timePackage in timePackages)
                                                {
                                                    <option value="@timePackage.Id">@timePackage.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <label for="HotelId" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn Khách sạn</label>
                                        <select name="HotelId" id="HotelId"
                                                class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;">
                                            @{
                                                foreach(Hotel hotel in hotels)
                                                {
                                                    <option value="@hotel.Id">@hotel.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <label for="TourGuideId" class="col-12 col-sm-12 col-md-12 text-info">Lựa chọn HDV</label>
                                        <select name="TourGuideId" id="TourGuideId"
                                                class="col-12 col-sm-12 col-md-12 border-info" style="height: 60px;">
                                            @{
                                                foreach(TourGuide tourGuide in tourGuides)
                                                {
                                                    <option value="@tourGuide.Id">@tourGuide.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <button type="button" style="height:60px; margin-top: 50px;"
                                        class="btn-outline-info rounded col-12 col-sm-12 col-md-12" data-toggle="modal"
                                        data-target="#confirmBooking">
                                    Đặt Tour
                                </button>
                            </form>
                        </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 text-info font-italic text-center"
             style="margin-bottom: 20px; font-size: 30px; margin-top: 40px;">
            CÁC DỊCH VỤ ĐI KÈM
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 text-info font-italic text-center"
             style="margin-bottom: 20px; font-size: 30px; margin-top: 40px;">
            CÁC TOUR
            DU LỊCH LIÊN QUAN
        </div>
        <div class="card-deck col-12 col-sm-12 col-md-12">
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="text-center col-12 col-sm-12 col-md-12 text-info font-italic font-weight-bold"
             style="font-size: 20px; margin-bottom: 20px;">
            CÁC BÌNH LUẬN NỔI BẬT
        </div>
        <ul class="list-unstyled col-12 col-sm-12 col-md-12">
            @{
                foreach (Evaluate item in evaluates)
                {
                    <li class="media" style="margin-left: 40px; margin-bottom: 20px; width: 90%;">
                        <img class="mx-3 rounded order-0" src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt=""
                             style="width: 100px; max-height: 200px;">
                        <div class="media-body">
                            <h5 class="mt-0 text-info">@item.User.Name</h5>
                            <!-- <h6 class="mt-0 text-info">(linhnh@gmail.com)</h6> -->
                            <p>
                                @item.Content
                            </p>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>

</body>
<script>
    function ChangeTourPackage(radio) {
        if (radio.value == "package1") {
            $("#Package1").removeAttr("hidden");
            $("#Package2").attr("hidden", true);
        }
        else {
            $("#Package1").attr("hidden", true);
            $("#Package2").removeAttr("hidden");
        }
    }
</script>
