@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản lý Hướng dẫn viên";
    List<TourGuide> tourGuides = (List<TourGuide>)ViewData["TourGuides"];
    List<City> cities = (List<City>)ViewData["Cities"];
    string status = (string)ViewData["Status"];
}
<style>
    .modal-dialog{
        max-width: 800px;
    }
</style>
<body>
    <div class="row" style="margin-top: 40px; margin-bottom: 10px;">
        <div hidden>
            <input type="text" id="Status" value="@status"/>
        </div>
        <div class="col-10"></div>
        <div class="col-2">
            <button class="btn btn-info" data-toggle="modal" data-target="#createTourGuide">Thêm mới </button>
            <div id="createTourGuide" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="padding-left: 40px;">
                        <div class="modal-header">
                            <h4 class="modal-title text-info">THÊM MỚI HƯỚNG DẪN VIÊN</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form asp-area="Admin" asp-controller="TourGuideAdmin" asp-action="CreateTourGuide" method="post" onsubmit="return ValidationCre()">
                            <div class="modal-body row">
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                        <label for="NameCre" class="text-info font-italic">Tên HDV<span style="color: red;">*</span></label>
                                        <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="NameCre" name="Name">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                        <label for="SexCre" class="text-info font-italic">Giới tính<span style="color: red;">*</span></label>
                                        <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="SexCre" name="Sex">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                        <label for="EmailCre" class="text-info font-italic">Email<span style="color: red;">*</span></label>
                                        <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="EmailCre" name="Email">
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                        <label for="PhoneNumberCre" class="text-info font-italic">Số điện thoại<span style="color: red;">*</span></label>
                                        <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="PhoneNumberCre" name="PhoneNumber">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 row">
                                    <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                        <label for="CityIdCre" class="text-info font-italic">Thành phố hướng dẫn</label>
                                        <select class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="CityIdCre" name="CityId">
                                            @{
                                                foreach (City city in cities)
                                                {
                                                    <option value="@city.Id">@city.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                        <label for="AddressCre" class="text-info font-italic">Địa chỉ<span style="color: red;">*</span></label>
                                        <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="AddressCre" name="Address">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <table class="col-10 col-sm-10 col-md-10 border" style="border: 1px; border-color: black;">
            <tr class="">
                <th style="width : 5%" class="text-center bg-info text-light border">STT</th>
                <th style="width : 20%" class="text-center bg-info text-light border">Họ tên HDV</th>
                <th style="width : 20%" class="text-center bg-info text-light border">Email HDV</th>
                <th style="width : 35%" class="text-center bg-info text-light border">Email HDV</th>
                <th style="width : 20%" class="text-center bg-info text-light border"></th>
            </tr>
                @{
                foreach (TourGuide item in tourGuides)
                    {
                        <tr>
                        <td class="text-center border">@item.Id</td>
                        <td class="text-center border">@item.Name</td>
                        <td class="text-center border">@item.Email</td>
                        <td class="text-center border">@item.Address</td>
                        <td class="text-center border"><button class="btn btn-info" data-toggle="modal" data-target="#readTourGuide@(item.Id)">Xem</button> <button class="btn btn-info" data-toggle="modal" data-target="#updateTourGuide@(item.Id)">Sửa</button> <button class="btn btn-info" data-toggle="modal" data-target="#deleteTourGuide@(item.Id)">Xóa</button> </td>

                        <div id="readTourGuide@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="padding-left: 40px;">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-info">CHI TIẾT THÔNG TIN HƯỚNG DẪN VIÊN</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form>
                                        <div class="modal-body row">
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="NameDet" class="text-info font-italic">Tên HDV</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="NameDet" name="Name" value="@item.Name" disabled>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="SexDet" class="text-info font-italic">Giới tính</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="SexDet" name="Sex" value="@item.Sex" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="EmailDet" class="text-info font-italic">Email</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="EmailDet" name="Email" value="@item.Email" disabled>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="PhoneNumberDet" class="text-info font-italic">Số điện thoại</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="PhoneNumberDet" name="PhoneNumber" value="@item.PhoneNumber" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="CityIdDet" class="text-info font-italic">Thành phố hướng dẫn</label>
                                                    <select class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="CityIdDet" name="CityId" disabled>
                                                        @{
                                                            foreach (City city in cities)
                                                            {
                                                                if (city.Id == item.CityId)
                                                                {
                                                                    <option value="@city.Id" selected>@city.Name</option>
                                                                }
                                                                <option value="@city.Id">@city.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="AddressDet" class="text-info font-italic">Địa chỉ</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="AddressDet" name="Address" value="@item.Address" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div id="updateTourGuide@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content" style="padding-left: 40px;">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-info">CẬP NHẬT THÔNG TIN HƯỚNG DẪN VIÊN</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <form asp-area="Admin" asp-controller="TourGuideAdmin" asp-action="UpdateTourGuide" method="post" onsubmit="return ValidationUpd()">
                                            <div class="modal-body row">
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="NameUpd" class="text-info font-italic">Tên HDV<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="NameUpd" name="Name" value="@item.Name">
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="IdUpd" name="Id" value="@item.Id" hidden>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="SexUpd" class="text-info font-italic">Giới tính<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="SexUpd" name="Sex" value="@item.Sex">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="EmailUpd" class="text-info font-italic">Email<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="EmailUpd" name="Email" value="@item.Email">
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="PhoneNumberUpd" class="text-info font-italic">Số điện thoại<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="PhoneNumberUpd" name="PhoneNumber" value="@item.PhoneNumber">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="CityIdUpd" class="text-info font-italic">Thành phố hướng dẫn</label>
                                                    <select class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="CityIdUpd" name="CityId">
                                                        @{
                                                            foreach (City city in cities)
                                                            {
                                                                if (city.Id == item.CityId)
                                                                {
                                                                    <option value="@city.Id" selected>@city.Name</option>
                                                                }
                                                                <option value="@city.Id">@city.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="AddressUpd" class="text-info font-italic">Địa chỉ<span style="color: red;">*</span></label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="AddressUpd" name="Address" value="@item.Address">
                                                </div>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        <div id="deleteTourGuide@(item.Id)" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content" style="padding-left: 40px;">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-info">BẠN CHẮC CHẮN MUỐN XÓA HƯỚNG DẪN VIÊN NÀY?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <form asp-area="Admin" asp-controller="TourGuideAdmin" asp-action="DeleteTourGuide" method="post">
                                            <div class="modal-body row">
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="NameDel" class="text-info font-italic">Tên HDV</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="NameDel" name="Name" value="@item.Name" disabled>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="IdDel" name="Id" value="@item.Id" hidden>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="SexDel" class="text-info font-italic">Giới tính</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="SexDel" name="Sex" value="@item.Sex" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="EmailDel" class="text-info font-italic">Email</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="EmailDel" name="Email" value="@item.Email" disabled>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="PhoneNumberDel" class="text-info font-italic">Số điện thoại</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="PhoneNumberDel" name="PhoneNumber" value="@item.PhoneNumber" disabled>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 row">
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-right: 20px;">
                                                    <label for="CityIdDel" class="text-info font-italic">Thành phố hướng dẫn</label>
                                                    <select class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="CityIdDel" name="CityId" disabled>
                                                        @{
                                                            foreach (City city in cities)
                                                            {
                                                                if (city.Id == item.CityId)
                                                                {
                                                                    <option value="@city.Id" selected>@city.Name</option>
                                                                }
                                                                <option value="@city.Id">@city.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 row" style="padding-left: 20px;">
                                                    <label for="AddressDel" class="text-info font-italic">Địa chỉ</label>
                                                    <input type="text" class="col-12 rounded border-info text-info" style="height: 60px; margin-bottom: 20px;" id="AddressDel" name="Address" value="@item.Address" disabled>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    }
                }
        </table>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Status bootstrap*@
    <div class="modal" id="StatusModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="StatusMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        var status = $("#Status").val();
        switch (status) {
            case "CreateSuccess":
                $('#StatusMessage').text("THÊM MỚI SỰ KIỆN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "CreateFaild":
                $('#StatusMessage').text("THÊM MỚI SỰ KIỆN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
            case "UpdateSuccess":
                $('#StatusMessage').text("CẬP NHẬT SỰ KIỆN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "UpdateFaild":
                $('#StatusMessage').text("CẬP NHẬT SỰ KIỆN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
            case "DeleteSuccess":
                $('#StatusMessage').text("XÓA SỰ KIỆN THÀNH CÔNG")
                $('#StatusModal').modal('show');
                break;
            case "DeleteFaild":
                $('#StatusMessage').text("XÓA SỰ KIỆN THẤT BẠI")
                $('#StatusModal').modal('show');
                break;
        }
    });
    function ValidationCre() {
        var name = $('#NameCre').val();
        var sex = $('#SexCre').val();
        var email = $('#EmailCre').val();
        var address = $('#PhoneNumberCre').val();
        var cityId = $('#CityIdCre').val();
        var address = $('#AddressCre').val();
        if (!ValidationField(name, "Vui lòng nhập Tên HDV")) return false;
        if (!ValidationField(sex, "Vui lòng chọn giới tính")) return false;
        if (!ValidationField(email, "Vui lòng nhập Email")) return false;
        if (!ValidationField(phoneNumber, "Vui lòng nhập Số điện thoại")) return false;
        if (!ValidationField(cityId, "Vui lòng chọn Thành phố trực thuộc")) return false;
        if (!ValidationField(address, "Vui lòng nhập Địa chỉ")) return false;
        return true;
    }
    function ValidationUpd() {
        var name = $('#NameUpd').val();
        var sex = $('#SexUpd').val();
        var email = $('#EmailUpd').val();
        var address = $('#PhoneNumberUpd').val();
        var cityId = $('#CityIdUpd').val();
        var address = $('#AddressUpd').val();
        if (!ValidationField(name, "Vui lòng nhập Tên HDV")) return false;
        if (!ValidationField(sex, "Vui lòng chọn giới tính")) return false;
        if (!ValidationField(email, "Vui lòng nhập Email")) return false;
        if (!ValidationField(phoneNumber, "Vui lòng nhập Số điện thoại")) return false;
        if (!ValidationField(cityId, "Vui lòng chọn Thành phố trực thuộc")) return false;
        if (!ValidationField(address, "Vui lòng nhập Địa chỉ")) return false;
        return true;
    }
    function ValidationField(value, message) {
        if (value == "") {
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ShowMessage(value) {
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
</script>