@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thông tin Tour";
    Tour tour = (Tour)ViewData["Tour"];
    List<City> cities = (List<City>)ViewData["Cities"];
}
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <img class="mr-3 rounded order-0 col-4 col-sm-4 col-md-4"
                 src="~/UploadImage/@(tour.Pictures)" style="width:1005; height:600px;">
            <div class="media-body col-8 col-sm-8 col-md-8 " style="margin-top: 40px;">
                <div class="row">
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 border-bottom" style="font-size: 40px;">
                        THÔNG TIN TOUR
                        DU LỊCH
                    </div>
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 d-flex align-items-center border-bottom"
                         style="font-size: 20px; margin-bottom: 100px;">
                        VIET TRAVEL
                    </div>
                    <form asp-area="Admin" asp-controller="TourAdmin" asp-action="UpdateTour" class="col-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Tên Tour du lịch<span style="color: red;">*</span></label>
                                <input type="text" id="Name" name="Name" class="rounded border-info text-info col-12 col-sm-12 col-md-12"
                                       style="height:60px;" value="@tour.Name">
                                <input type="text" id="Id" name="Id" class="rounded border-info text-info col-12 col-sm-12 col-md-12"
                                       style="height:60px;" value="@tour.Id" hidden>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Vị trí cụ thể<span style="color: red;">*</span></label>
                                <input type="text" id="Address" name="Address" class="rounded border-info text-info col-12 col-sm-12 col-md-12"
                                       style="height:60px;" value="@tour.Address">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Lựa chọn thành phố trực thuộc<span style="color: red;">*</span></label>
                                <select name="CityId" id="CityId" class="bg-info col-12 col-sm-12 col-md-12 border-dark rounded text-light text-center" style="height:60px;">
                                    @{
                                        foreach (City city in cities)
                                        {
                                            if(city.Id == tour.CityId)
                                            {
                                                <option value="@city.Id" selected>@city.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@city.Id">@city.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Thêm ảnh</label>
                                <input type="file" class="btn btn-info col-12 col-sm-12 col-md-12 border-dark rounded" id="Pictures" name="file" style="height:60px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Tiêu đề giới thiệu<span style="color: red;">*</span></label>
                                <input type="text" id="TitleIntroduct" name="TitleIntroduct" class="rounded border-info text-info col-12 col-sm-12 col-md-12"
                                       style="height:60px;" value="@tour.TitleIntroduct">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Nội dung giới thiệu<span style="color: red;">*</span></label>
                                <input type="text" id="ContentIntroduct" name="ContentIntroduct" class="rounded border-info text-info col-12 col-sm-12 col-md-12"
                                       style="height:60px;" value="@tour.ContentIntroduct">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Ghi chú chi tiết</label>
                                <textarea name="Description" id="Description" style="width: 100%;" rows="6" class="border-info rounded">@tour.Description</textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-3 col-sm-3 col-md-3"></div>
                            <button type="submit" style="height:60px;" class="btn-outline-info rounded col-6 col-sm-6 col-md-6 justify-content-center align-items-center">Cập nhật Tour du lịch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>